body {
  background-color: lightblue;
}

.title {
  color: maroon;
  text-align: center;
  font-weight: bold;
  font-size: medium;
}

.body {
  color:#000;
  font-size: small;
}

.true_img {
  height: 10px;
  width: 10px;
}